################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CharadaPage/CopilotIndices/17.14.794.21998
/.vs
